@import 'base/bootstrap-reboot.min'
@import 'base/fonts'
@import 'base/variables'

.container
    width: 1140px
    margin: 0 auto

*
    font-family: 'Roboto'

@import 'blocks/promo'
@import "blocks/header"
@import 'blocks/buttons'