.features
    padding-bottom: 57px
    &__wrapper
        display: flex
        align-items: center
        justify-content: space-between

    &__header
        font-size: 18px
        font-weight: 700
        text-align: center
        color: $main-color
        margin-top: 28px

    &__descr
        font-size: 14px
        font-weight: 300
        text-align: center
        color: #3a3a3a

    &__item
        width: 360px
        margin-top: 37px

    &__img
        img
            width: 100%

@media (max-width: 1200px)
    .features   
        &__item
            width: 300px

@media ( max-width: 768px )
    .features
        &__item
            width: 378px
        &__wrapper
            justify-content: center

@media (prefers-color-scheme: dark)
    .features
        &__descr
            color: #fefefe
    
        