.form
    border: 1px solid rgba(0, 0, 0, 0.21)
    width: 100%
    min-height: 166px
    display: flex
    align-items: center
    justify-content: center
    position: relative
    flex-flow: wrap
    padding-top: 18px
    input
        width: 268px
        height: 45px
        border: 1px solid rgba(0, 0, 0, 0.21)
        border-radius: 20px
        font-size: 13px
        color: rgba(16, 16, 16, 0.7)
        padding-left: 28px
        margin-right: 6px

    textarea
        resize: none
        width: 813px
        font-size: 13px
        font-weight: 300
        color: rgba(16, 16, 16, 0.7)
        border: 1px solid rgba(0, 0, 0, 0.21)
        border-radius: 10px 
        height: 71px
        margin-top: 8px
        

    img
        position: absolute
        top: -34%

    &_borderless
        border-top: none

        &::after
            content: ''
            height: 1px
            width: 44%
            background-color: rgba(0, 0, 0, 0.21)
            position: absolute
            top: 0
            right: 0

        &::before
            content: ''
            height: 1px
            width: 44%
            background-color: rgba(0, 0, 0, 0.21)
            position: absolute
            top: 0
            left: 0

    &_noborder
        border: none

@media ( max-width: 1200px )
    .form
        input
            width: 242px
        textarea
            width: 740px
    