.work 
    padding-bottom: 46px
    &__wrapper
        display: flex
        flex-flow: wrap
        justify-content: space-between
        align-items: flex-start


    &__item
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        text-align: center
        max-width: 257px
        margin-top: 26px

    &__header
        font-size: 16px
        font-weight: 700
        color: $main-color

    &__descr
        font-size: 14px
        font-weight: 300
        color: #3a3a3a


@media ( max-width: 1200px)
    .work
        &__wrapper
            justify-content: space-around
        &__item 
            max-width: 450px

@media (prefers-color-scheme: dark)
    .work
        &__descr
            color: #fefefe
    
